.box-shadow {
    background-color: #B90504;
    box-shadow: 0 7px 6px -6px grey;
    .navbar-nav .nav-link{
        color: #f6f6f6;
    }

}

#nav {
    transition: all 1s ease; 
}
.navbar-nav .nav-link{
    color: #333333;
}