.box-shadow {
    background-color: #B90504;
    box-shadow: 0 2px 16px -2px #000;
    .navbar-nav .nav-link{
        color: #f6f6f6;
    }

}

#nav {
    transition: all 1s ease; 
}
.navbar-nav .nav-link{
    color: #333333;
}

.bg-custom {
    background-color: #ffffff;
}