
  <ng-container *ngIf="results.length !== 0; else loading">
    <div class="row {{ rows }} mt-5">
        <ng-container *ngFor="let pokemon of results">
            <div class="col mb-4">
                <div class="card">
                    <a type="button" class="btn" [routerLink]="['/pokemon', pokemon.id]">
                      <img src="{{ pokemon.pic }}" 
                           class="card-img-top"
                           [alt]="pokemon.name"
                           onerror="this.onerror=null;this.src='assets/images/no-img.jpg'">
                      
                        <div class="middle">
                          <div class="text text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                            </svg>
                          </div>
                        </div>
                        <div class="card-body">
                          <h6 class="card-title text-center">
                            {{ pokemon.name }} 
                            <small>({{ pokemon.id | number: '3.0-0' }})</small>
                          </h6>
                          
                        </div>
                      </a>
        
                </div>
            </div>
    
        </ng-container>
  
        <div class="fixed-bottom mx-auto text-center" *ngIf="pokeService.loadingScroll">
          <div class="spinner-border text-danger"></div>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="spinner-border text-danger" id="loading"></div>
  </ng-template>
