
<h5 class="m-3">
    <a type="button" class="px-3 text-dark" routerLink="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg>
    </a>

    {{ term | titlecase }}
</h5>

<hr>

<ng-container *ngIf="!noResult; else noFound">
    <app-poke-card [results]="result" [rows]="'row-cols-2 row-cols-md-3 row-cols-xl-5'"></app-poke-card>
    
</ng-container>
<ng-template #noFound>
    <div class="w-50 mx-auto pt-3">
        <div class="alert alert-danger text-center" role="alert">
            <p>¡No pokemon was found related to your search!</p> 
            <p>Please try again with another name or id.</p>
        </div>
    </div>
    
    
</ng-template>
